.searchContainer {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;  
  }
  
  .input {
    max-width: 235px;
    width: 100%;
    padding: 10px;  
    border: 1px solid #ddd; 
    border-radius: 5px;  
    transition: border-color 0.3s;  
  }
  
  .input:focus {
    border-color: #007bff;  
    outline: none;  
  }  